<thead>
<tr>
    <th class="col-xs-2">Name</th>
    <th class="col-xs-3">Description</th>
    <th class="col-xs-1">Pay Low</th>
    <th class="col-xs-1">Pay High</th>
    <th class="col-xs-2">Member</th>
    <th class="col-xs-1">Assign Date</th>
    <th class="col-xs-1"></th>
    <th class="col-xs-1"></th>
</tr>
</thead>
<tbody>

</tbody>