<thead>
<tr>
    <th class="col-xs-2">Chore Name</th>
    <th class="col-xs-5">Description</th>
    <th class="col-xs-2">Date Assigned</th>
    <th class="col-xs-1">Low</th>
    <th class="col-xs-1">High</th>
    <th class="col-xs-1">Completed</th>
</tr>
</thead>
<tbody>

</tbody>