<td class="col-xs-2"><%= Name %></td>
<td class="col-xs-5"><%= Description %></td>
<td class="col-xs-2"><%= DateAssigned %></td>
<td class="currency col-xs-1"><%= PayRateLow %></td>
<td class="currency col-xs-1"><%= PayRateHigh %></td>
<td class="col-xs-1 text-center">
    <input type="checkbox" class="checkbox" checked="checked"/>
</td>