<div class="col-xs-12" id="child-control-region"></div>
<div>
    <div id="child-payments-region" class="col-xs-2">
    </div>
    <div id="child-chores-region" class="col-xs-10" style="padding:0px;">
    </div>
</div>
