<h3>Hello <%= Name %></h3>

<button class="btn btn-primary btn-lg btn-block js-member-button">View Members</button>
<button class="btn btn-primary btn-lg btn-block js-chore-button">View Chores</button>