.content-wrapper{
    margin-top: 12px;
}

.site-title a.logo {
    background: url('/assets/img/moil.png') no-repeat;
    height: 75px;
    /*width: 250px;*/
    display: block;
}

.parent-option{
    max-width: 500px;
    margin: 0 auto 10px;
}

.member-hover{
    cursor: pointer;
}

.control-button{
    margin-bottom: 15px;
}

.table{
    width: 100%;
}

.chore-table{
    margin: 0px !important;
    padding: 0px !important;
}

.mem-chore-main-table-cell{
    margin: 0px !important;
    padding: 0px !important;
}

.inner-table-container{
    height: 25vh;
    overflow-y: auto;
}

.icon-padding{
    padding: 8px !important;
}

.chore-table-item{
    margin-top: 8px;
}

.logout-y{
    margin-top: 23px !important;
}