<thead>
<tr><th colspan="8" class="text-center" id="Title"></th></tr>
<tr class="row">
    <th class="col-xs-2">Name</th>
    <th class="col-xs-3">Description</th>
    <th class="col-xs-1 text-right">Assigned</th>
    <th class="col-xs-1 text-right">Low</th>
    <th class="col-xs-1 text-right">High</th>
    <th class="col-xs-2 text-center">Final Pay</th>
    <th class="col-xs-1">Completed</th>
    <th class="col-xs-1">Delete</th>
</tr>
</thead>
<tbody>
<tr>
    <td colspan="9" class="mem-chore-main-table-cell">
        <div class="inner-table-container">

        </div>
    </td>
</tr>
</tbody>