<h4 class="col-xs-4 text-right" id="Name"></h4>
<h4 class="col-xs-2" id="Total"></h4>
<button class="btn btn-default btn-danger col-xs-2 col-xs-offset-2 js-pay-chores">Pay</button>
<button class="btn btn-default btn-info control-button col-xs-2 js-save-chores">Save</button>
